body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #48cae4;
    color: #03045e;
    border-bottom: 6px solid #caf0f8;
    animation: changeBackgroundColor 5s infinite;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.softborders {
    border-radius: 8px;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #cdb4db;
    }
    25%{    
        background-color: #ffc8dd;
    }

    50% {
        background-color: #ffafcc;
    }
    70%{
        background-color: #bde0fe;
    }
    100% {
        background-color: #a2d2ff;
    }
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
